/* FONTS */
/* FONTS */
/* FONTS */

/* main */

body, h3 {
	font-family: "futura-pt", Futura, "Century Gothic", AppleGothic, sans-serif;
}
h2, h1 {
	font-family: "omnes-pro",sans-serif;
	font-style: italic;
	font-weight: 700;
}


/* POSITIONING */
/* POSITIONING */
/* POSITIONING */

#top {
	margin-top: 4em;
	border-bottom: 4px double black;
	display: block;
}

h1 {
	margin-bottom: 21px;
}


h2 {	
	margin-top: 1em;
}
@media not print {
	#resume { display: none; }
	h2 {
		-webkit-transform-origin: 0 0;
	    -moz-transform-origin:    0 0;
	    -ms-transform-origin:     0 0;
	    -o-transform-origin:      0 0;
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		width: intrinsic;
	}
}
.subproject {
	margin-left: .5em;
}

#bottom{
	padding-top: 100px;
	height: 150px;
}

#silhouette img {
	width: 100%;
	height: auto;
	padding-top: 2em;
	position: absolute;
	max-width: 200px;
	bottom: 0;
}
#silhouette {
	position: relative;
	height: 200px;
}

form, input[type="text"] {
	width: 100%;
}

.project {
	margin-top: 2em;
	margin-bottom: 2em;
}

.vcard p {
	margin-bottom: 0;
}
/*
#middle img {
	width: 90%;
	margin-left: 5%;
}
*/

h3 {
	display: inline;
}
#middle .sixteen {
	margin-top: 1em;
	margin-bottom: 1em;
}
#middle img {
	width: 100%;
}


/* STYLE */
/* STYLE */
/* STYLE */

abbr {
	border-bottom: 1px black dotted;
}

.hide {
	display:none;
}

.center {
	text-align: center;
}

h2:after {
	content: ":";
}

.year:before {
	content: " | " ;
}

a {
	font-weight: 700;
}

#middle img {
	width: 100%;
	border: 4px double #444;
}

html, body {padding: 0; margin: 0;}


#middle .minigit img {
	width: 15px;
	height: 15px;
	margin-left: 6px;
	position: relative;
	border: none;
	display: inline;
}




@media print {
 * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	h1, body, h2 {font-family: "minion-pro",sans-serif; font-style: normal; font-weight: 400;}
	h3 { font-family: "futura-pt"; font-style: normal; font-weight: 700;}
	h3 {font-size: 18px; line-height: 24px; margin: 0; padding: 0; }
	a, a:visited { color: #444 !important; text-decoration: underline; }
	.subproject { font-style: italic; }
	.year:before { content: " "; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	#middle .four.columns { width: 440px !important;}
	#middle .four.columns.only { width: 920px !important;}
	.project, #top { margin: 0; border: 0; padding: 0; }
	.noprint, .noprint * { display: none; }
	html { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	@media not print { #resume { display: block; } }
	h2 { 		-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);}
	.vcard p {display: inline;}
	.vcard p:after {content: "  |  "}
	#top .three.columns {width: 920px !important; padding-left: 0 !important;}
	#info { font-family: "futura-pt"; font-style: normal; font-weight: 700;}
	.center, #copy { text-align: left; }
	#bottom { height: auto; padding-top: 80px;}
	.year:before { content: " ("}
	.year:after { content: ")"}
	.year { padding-left: .6em;}
	abbr { border-bottom: 0; }
}